In [30]:
import pandas as pd

df = pd.read_excel('data/2016-01.xls' , index_col='상품명')

df

                    판매건수     가격        매출
상품명
봉투                 12362     50    618100
바나나                 4285   3900  16711500
야채                  4190      0         0
켐벨포도                2780  29800  82844000
알뜰특란                2768   5300  14670400
...                  ...    ...       ...
바지락                  253      0         0
해표)카놀라유              253   5600   1416800
오)자른당면               252   5850   1474200
롯데)알뜰소시지             252   4400   1108800
한돈앞다리/불고기,찌개(국내산)    252      0         0

[200 rows x 3 columns]

#### 판다스 데이타프레임의 기본적인 정보 얻어오기

- 앞에 10개 행 보기
- 뒤에 10개 행 보기

- 판매건수에서 큰 값 순으로 10개 (nlargest()이용)
- 판매건수에서 작은 값 순으로 10개 (nsmallest()이용)

In [22]:
#df.head()

#df.tail()

#df.nlargest(10, '판매건수', keep='first')

df.nsmallest(10, '판매건수' )

                   상품명  판매건수    가격       매출
197             오)자른당면   252  5850  1474200
198           롯데)알뜰소시지   252  4400  1108800
199  한돈앞다리/불고기,찌개(국내산)   252     0        0
194            CJ)행콩나물   253  1950   493350
195                바지락   253     0        0
196            해표)카놀라유   253  5600  1416800
192     온동네광천파래재래김(전장)   255  2550   650250
193              새송이버섯   255     0        0
191       CJ)주부초밥왕(소풍)   256  3750   960000
190              황도복숭아   258     0        0

#### 컬럼으로 추출

- 컬럼명들을 출력
- 판매건수 데이타 출력

In [32]:
df.columns
df['판매건수'].describe()

count      200.000000
mean       732.255000
std       1012.749454
min        252.000000
25%        311.250000
50%        484.000000
75%        741.500000
max      12362.000000
Name: 판매건수, dtype: float64

#### 일련번호로 데이타 추출

- 1번째 행 레코드 출력
- '바나나' 행 레코드 출력

In [26]:
df.loc[0]
df.loc[1]

상품명          바나나
판매건수        4285
가격          3900
매출      16711500
Name: 1, dtype: object

#### 행에서 데이타 추출

- 야채, 딸기, 봉투행을 추출하여 매출순으로 정렬하기 (sort_values()이용)
- 바나나행부터 딸기행까지 추출
- 야채부터 딸기행까지 추출

In [35]:
#df.loc[['야채', '딸기', '봉투']].sort_values('매출', ascending=False)

df.loc['야채':'딸기','가격']

상품명
야채          0
켐벨포도    29800
알뜰특란     5300
딸기          0
Name: 가격, dtype: int64

#### 조건으로 검색

- 가격이 10000 초과 상품 출력
- 가격이 10000에서 20000 사이 상품 출력

#### 판매건수로 정렬

#### 가격순으로 정렬하되 판매건수와 가격만 추출