In [1]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

df

    a  b
0  10  2
1  20  4
2  30  6

In [3]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

result1 = my_fun1(3)
print(result1)

result2 = my_fun2(2,3)
print(result2)

9
8

In [13]:
#print(my_fun1(df))
#print('------------------')
#print(my_fun2(df, 3))
#print('------------------')
#print(my_fun1(df['a']))

# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기

print(df.apply(my_fun1))
print('------------------')
print(df['a'].apply(my_fun1))
print('------------------')
print(df['a'].apply(my_fun2, n=3))

     a   b
0  100   4
1  400  16
2  900  36
------------------
0    100
1    400
2    900
Name: a, dtype: int64
------------------
0     1000
1     8000
2    27000
Name: a, dtype: int64

In [16]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

print(df.apply(my_fun3))

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [18]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

df['result'] = df['a'].apply(func)

df

    a  b result
0  10  2      C
1  20  4      B
2  30  6      A

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [22]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")

def is_vip(arg):
    if arg['price'] >= 500 and arg['state']=='confirmed':
        grade='vip'
    else:
        grade='non-vip'
    return grade
        
customer['grade'] = customer[['price','state']].apply(is_vip,axis=1)
customer

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed      vip
Kim   2017-01-03    700  confirmed      vip
Choi  2017-01-03    900  confirmed      vip
Park  2017-01-05    800  confirmed      vip
Lee   2017-01-07    500   canceled  non-vip
Yoon  2017-01-09    700  confirmed      vip
Jang  2017-01-09    600   canceled  non-vip
Ko    2017-01-10    200   canceled  non-vip